.canvas {
  width: 600px;
  padding: 0;
  margin: auto;
  border: 1px solid #d7d7d7;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden;
  float: right;
}

.canvas .node {
  height: 24px;
  width: 24px;
  float: left;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.10s ease-in-out;
}
.canvas .node:hover {
  box-shadow: 0 0 1px salmon inset;
}
